@page "/401"

<PageTitle>Unauthorized</PageTitle>

<h1>Error 401: Unauthorized</h1>

<lottie-player src="https://lottie.host/8e95f071-0e23-43f1-8cf3-e15e1a528787/e43Sne4uRG.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
