@page "/402"

<PageTitle>Payment Required</PageTitle>

<h1>Error 402: Payment Required</h1>

<lottie-player src="https://lottie.host/aa106d92-31f5-4f92-a2e1-1d8d576482d2/vXSwGTDdXx.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
