@page "/403"

<PageTitle>Forbidden</PageTitle>

<h1>Error 403: Forbidden</h1>

<lottie-player src="https://lottie.host/3499e237-e0ea-4217-a25b-61856703a7f0/Ng3T7BMFBe.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
