@page "/501"

@inject NavigationManager navManager

<PageTitle>Not Implemented</PageTitle>

<h1>Error 501: Not Implemented</h1>

<button class="button" @onclick="GoHome">Ok</button>


@code {
    private async Task GoHome()
    {
        navManager.NavigateTo("/", true);
    }
}

