@page "/502"

@using Blazorise.LottieAnimation
@using Blazorise.Animate

<PageTitle>Bad Gateway</PageTitle>

<h1>Error 502: Bad Gateway</h1>

<LottieAnimation Path="https://lottie.host/9cbe45fc-28d5-41ab-923e-fbb2bbcaa7ab/yfUxVOwLhe.json" Style="width: 500px; height: 500px;" @onclick="NewLoop" @bind-value="anim502" Paused="isPaused"></LottieAnimation>


<div class="container">

	<svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
		<circle cx="170" cy="170" r="160" stroke="#E2007C" />
		<circle cx="170" cy="170" r="135" stroke="#404041" />
		<circle cx="170" cy="170" r="110" stroke="#E2007C" />
		<circle cx="170" cy="170" r="85" stroke="#404041" />
	</svg>

</div>

@code {
    LottieAnimation anim502;
    bool isPaused;
    private async Task NewLoop()
    {
        isPaused = !isPaused;
        await InvokeAsync(StateHasChanged);
    }
}